body {
    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
/*    overflow: hidden; 
*/}

.abinfo{
    margin-left: auto;
    margin-right: auto;
    color: black;
    background: white;
    width: 50%;
}
.cccsss {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    font-size: 2vh;
}


/*купить*/
.all_buy{

}
.par_buy{

}
.item_buy{
  margin-bottom: 2em;
  margin-right: 1em; 
  border: 1px solid white;
  background-color: #747474;
  z-index: 1000000;
  width: 23vh;
  height: 30vh;
  display: inline-flex;
}

.item_buy img{
  margin-bottom: 2em;
  margin-right: 0.5em;
  width: 90%;
}
/*конец купить*/


/* Футер */
footer{
    margin-top: 2em;

/*    background-color: gray;
*/    width: 100%;
    height: 10vh;
}

.Nick{
    float: left;
    margin-left: 0.5em;
    font-size: 3vh;
    font-family: 'Comfortaa', cursive;
}

.all_buttons{
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
}

.all_link{
    float: right;
    margin-right: 2em;
}


.vk{
    width: 3vh;
    float: right;
    margin-right: 1em;
}
.twitter{
    width: 3vh;
    float: right;
    margin-right: 1em;
}
.discord{
    width: 3vh;
    float: right;
    margin-right: 1em;
}
.git{
    width: 3vh;
    float: right;
    margin-right: 1em;
}
.mail{
    width: 3vh;
    float: right;
    margin-right: 1em;
}

.logoo{
    width: 3vh;
    float: left;
    margin-left: 2em;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.AboutMeHome{
    opacity: 0.8;
}

.MerchHome{
    opacity: 0.8;
}

.ProjectsHome{
    opacity: 0.8;
}

.AboutMeHome:hover{
    opacity: 1;
}

.MerchHome:hover{
    opacity: 1;
}

.ProjectsHome:hover{
    opacity: 1;
}

.AboutMePR{
    opacity: 0.8;
}

.MerchPR{
    opacity: 0.8;
}

.HomePR{
    opacity: 0.8;
}

.AboutMePR:hover{
    opacity: 1;
}

.MerchPR:hover{
    opacity: 1;
}

.HomePR:hover{
    opacity: 1;
}

.ProjectsAB{
    opacity: 0.8;
}

.MerchAB{
    opacity: 0.8;
}

.HomeAB{
    opacity: 0.8;
}

.ProjectsAB:hover{
    opacity: 1;
}

.MerchAB:hover{
    opacity: 1;
}

.HomeAB:hover{
    opacity: 1;
}

.ProjectsBB{
    opacity: 0.8;
}

.AboutMeBB{
    opacity: 0.8;
}

.HomeBB{
    opacity: 0.8;
}

.ProjectsBB:hover{
    opacity: 1;
}

.AboutMeBB:hover{
    opacity: 1;
}

.HomeBB:hover{
    opacity: 1;
}
/* КОНЕЦ футера */

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100000000;
  }
#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #404040;
  }
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid black;
    color: white;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #A2A2A2;
    font-size: 14pt;
    cursor:pointer;
  }

.stars_container {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 20%;
    height: 20%;
    z-index: 100000;
}

.stars{
    z-index: 100000;
}
.stars2{
    z-index: 100000;
}
.stars3{
    z-index: 100000;
}

.zac{
    width: 40%;
}

.Centerr{
	position: absolute;
	width: 60%;
	left: 20%;
	top: 50%;
	margin-top: -1em;
	font-family: 'Oswald', sans-serif;
	font-size: 10vh;
    z-index: 100;
}

.Nope{
	font-family: 'Oswald', sans-serif;
	font-size: 3vh;
}

.craftall{
    position:relative;
    margin-top: 55%; 
    z-index: 100000000;
    padding: 0;
}


.craft{
    width: 100%;
    z-index: 100000000;
    padding: 0;
    
}

.backall{
    position:relative;
    float: left;
    z-index: 100000000;
    padding: 10px;
    border-radius: 20px;
}


.back{
    width: 10%;
    float: left;
    border-radius: 20px;
    z-index: 100000000;
    padding: 10px;
    
}

.modal {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.modal__box {
  padding: 1em;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  -webkit-transform: rotate(5deg) translate(-1em, 1em);
          transform: rotate(5deg) translate(-1em, 1em);
  border-top: 5px solid #da513d;
  border-bottom: 5px solid #ddd;
}
/* modal magic */
.btn:focus + .modal {
  opacity: 1;
  visibility: visible;
}
.btn:focus + .modal .modal__box {
  -webkit-transform: rotate(0deg) translate(0, 0);
          transform: rotate(0deg) translate(0, 0);
}


/*.back{
}
.backk{
    border-radius: 15px;
    padding: 10px;
    width: 10%;
    float: left;
    z-index: 100000000;
}*/