@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-color: #0C0C0C;
  display: relative;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-size: 1.5vw;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
  color: #515151;
  font-weight: 600;
}

.centerLobby {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.page-trans-enter-active {
  animation: fadeOutRight;
  animation-duration: 2s;
}

.page-trans-leave-active {
  animation: fadeOutRight;
  animation-duration: 2s;
}

.page-trans-enter-from,
.page-trans-leave-to {
  transform: translateX(20px);
  opacity: 0;
}